  
<h1><%= @post.id ? "Edit #{@post.title}" : "Add New Post-It" %></h1>
<hr />
<%= form_with(model: @post, local: true) do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title, required: true, placeholder: "Title:" %>
    <%= f.label :body %>
    <%= f.text_field :body, required: true, placeholder: "Body:" %>
    <%= f.label :color %>
    <%= f.text_field :color, required: true, placeholder: "Color:" %>
  </div>
    <%= f.submit %>
<%end%>